<div class="d-flex justify-content-center flex-column align-items-center">
  <h1>Algunos de nuestros productos principales</h1>
  <div
    id="container-apps"
    class="d-flex flex-row flex-wrap justify-content-center"
  >
    <div class="col-md-5 col-lg-8 col-xl-5 col-sm-12 item-app mr-3">
      <div class="card ">
        <div class="card-body">
          <div class="card-title">
            <div class="d-flex flex-row flex-wrap justify-content-center">
              <img
                src="https://play-lh.googleusercontent.com/VU_Bl8zevpol60hLlvxEj1kGeFE6gut7pSCEM08Cg2UYLyYf_8ah1yeCbaUNtuZjHDEv=w240-h480-rw"
                width="50"
                height="50"
                alt=""
              />
              <h3 class="ml-4">WAFI - Money Manager</h3>
            </div>
          </div>
          <div class="card-content">
            <p class="text-white">A powerfull app to manage your finances.</p>
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <!--  -->
    <!-- <div class="col-md-5 col-lg-8 col-xl-5 col-sm-12 item-app mr-3">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <div class="d-flex flex-row">
                <img
                  src="https://play-lh.googleusercontent.com/VU_Bl8zevpol60hLlvxEj1kGeFE6gut7pSCEM08Cg2UYLyYf_8ah1yeCbaUNtuZjHDEv=w240-h480-rw"
                  width="50"
                  height="50"
                  alt=""
                />
                <h3 class="ml-4">WAFI - Money Manager</h3>
              </div>
            </div>
            <div class="card-content">
              <p class="text-white">A powerfull app to manage your finances.</p>
            </div>
          </div>
          <div class="card-footer"></div>
        </div>
      </div> -->
  </div>
</div>
