<div class="d-flex flex-row justify-content-center flex-wrap">
  <div class="testimonial-info col-md-6">
    <p class="text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      provident beatae officia eaque et minima, alias, magni nulla, sed
      architecto amet labore totam accusantium reiciendis obcaecati esse quasi
      sit dolorum? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur provident beatae officia eaque et minima, alias, magni nulla,
      sed architecto amet labore totam accusantium reiciendis obcaecati esse
      quasi sit dolorum? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Consequuntur provident beatae officia eaque et minima, alias, magni
      nulla, sed architecto amet labore totam accusantium reiciendis obcaecati
      esse quasi sit dolorum?
      <br />
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      provident beatae officia eaque et minima, alias, magni nulla, sed
      architecto amet labore totam accusantium reiciendis obcaecati esse quasi
      sit dolorum? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur provident beatae officia eaque et minima, alias, magni nulla,
      sed architecto amet labore totam accusantium reiciendis obcaecati esse
      quasi sit dolorum? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Consequuntur provident beatae officia eaque et minima, alias, magni
      nulla, sed architecto amet labore totam accusantium reiciendis obcaecati
      esse quasi sit dolorum?
    </p>
  </div>
  <div id="testimonial-cards col-md-4">
    <carousel
      [showIndicators]="true"
      [autocapitalize]="true"
      [isAnimated]="true"
      [interval]="3000"
    >
      <slide>
        <div>
          <div class="card">
            <div class="card-body">
              <div class="card-title"><h3>Carmen R.</h3></div>
              <div class="card-content text-white">
                "Desde que contrate a SoftLink he podido administrar mi negocio
                y a mis empleados de manera eficiente."
              </div>
              <div class="card-footer">Venezulea</div>
            </div>
          </div>
        </div>
      </slide>
      <slide>
        <div>
          <div class="card">
            <div class="card-body">
              <div class="card-title"><h3>Maria Alejandra.</h3></div>
              <div class="card-content text-white">
                "Desde que contrate a SoftLink he podido administrar mi negocio
                y a mis empleados de manera eficiente."
              </div>
              <div class="card-footer">Venezulea</div>
            </div>
          </div>
        </div>
      </slide>
      <slide>
        <div>
          <div class="card">
            <div class="card-body">
              <div class="card-title"><h3>Luiso Hernandez.</h3></div>
              <div class="card-content text-white">
                "Desde que contrate a SoftLink he podido administrar mi negocio
                y a mis empleados de manera eficiente."
              </div>
              <div class="card-footer">Venezuleaasd</div>
            </div>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>
